//html,
//body {
//  padding: 0;
//  margin: 0;
//  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
//    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
//}
//
//a {
//  color: inherit;
//  text-decoration: none;
//}
//
//* {
//  box-sizing: border-box;
//}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans&display=swap');
@import "Buttons";
@import "Variables";
@import "Colors";
@import "Flex";
@import "Icons";
@import "ObjektDetail";
@import "Cards";
@import "Global";
@import "Form";
@import "LightBox";

html,
body {
  padding: 0;
  margin: 0;
}

main {
  background-color: #EFEFEF;
}

body {
  font-family: $font-family-montserrat;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  //display: flex;
  //flex-direction: column;
}

h2 {
  font-size: 26px;
}

p, span {
  font-family: $font-family-open-sans;

}


p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.m-auto {
  margin: 0 auto;
}

.main-container {
  max-width: 1220px !important;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
}

.footer {
  background-color: #434343;
  color: #8D8D8D;
}

.footer-wrapper {
  max-width: 1220px;
  margin: 0 auto;
  height: 120px;
  padding: 0 2em;

}

.nav-container.sticky {
  margin-top: 0;
}


.wrapper {
  max-width: 1310px !important;
}

.main-header {
  padding: .5em 0 0;
}

.input-search,
.btn-small-logo {
  height: 33px;
}

.heading-with-icons h2 {
  font-weight: 600;
  margin-top: .5em;
  margin-bottom: .5em;
}

.arrow-heading {
  font-size: 1.5em;
  margin-left: .25em;
}

.input-search {
  height: 33px;
  border: none;
  background-color: #E3E3E3;
  border-radius: $border-radius;
  padding-left: 1em;
}

.nav-container {
  border: 1px solid #DADADA;
  margin-top: .5em;
}

.main-nav {
  max-width: 1220px;
  margin: 0 auto;
  padding: .6em 0;
}

.main-nav ul {
  display: inline-flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.main-nav .nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}

.link-icon {
  margin-right: .5em;
  font-size: 1.2em;
}

.main-nav .nav-item a{
  display: -webkit-flex;
  display: -webkit-box;
  text-decoration: none;
  font-weight: 600;
  color: $heading-black;
  margin: 0 auto;
  display: flex;

  align-items: center;
}

.hero {
  background-image: url("../public/img/hero-background01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 35vh;
  width: 100vw;
  background-position: right;
  position: relative;
  z-index: 1;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #41A4CF 36.44%, rgba(196, 196, 196, 0) 100%);
  z-index: 2;
}

.hero h1 {
  margin-top: 0;
  font-size: 46px;
}

.hero .content-wrapper p {

}

.hero  .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: $white;
  height: 100%;
  width: 70%;
}

.hero .wrapper .d-flex {
  height: 100%;
}

.hero .wrapper .d-flex .description {
  width: 80%;
  font-size: 22px;
}

.hero .wrapper h2 {
  text-align: left;
  font-weight: 600;
  margin-bottom: .5em;
}

.hero .flex-wrap {
  height: 100%;
}

.hero .btn-small-logo {
  font-weight: normal;
}

.search-bar {
  position: relative;
}

.search-bar .d-flex {
  align-items: stretch !important;
}

.main-header .search-bar {
  width: 25%;
}

.search-bar input {
  border: 0;
  padding: 1.5em;
  width: 320px;
  overflow: hidden;
  font-size: 12px;
  border-radius: $border-radius 0 0 $border-radius;
}

.search-bar input:focus {
  outline: none;
}

.search-bar-button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hero .content-wrapper p {
  text-align: center;
  width: 60%;
  font-weight: 500;
  margin: 0 auto;
}

.hero .last-minute {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  display: none;
}

.last-minute .side-badge {
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 100%;
  bottom: 0;
  text-align: center;
  width: 38px;
  line-height: 38px;
  background-color: $red;
  color: $white;
}

.last-minute .row {
  margin-left: 38px !important;
  margin-right: 0 !important;
}

.last-minute .side-badge .icon {
  transform: rotate(180deg);
  margin-bottom: .5em;
}

.input-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-component {
  position: relative;
  margin: 1.5em 0;
  padding: 1em 2em;
  border-radius: $border-radius;
}

.map-component .margin-wrapper {
  margin-left: 3em;
}

.map-component .heading-with-icons{
  margin-top: 1.2em;
  margin-bottom: .5em;
}

.map-component .map-description {
  width: 90%;
}

.map-component .badge-location {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  border-radius: $border-radius;
  background-color: $blue;
  color: #fff;
  font-weight: 600;
  font-size: $font-size;
}

.map-component .badge-location p {
  z-index: 3;
  position: relative;
}

.map-component .badge-location::before {
  width: 10px;
  height: 10px;
  display: block;
  content: "";
  background-color: $blue;
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 1;
}

.map-component .map-buttons {
  margin-top: 2em;
}

.map {
  stroke: #ffffff;
  //height: 30vh;
  width: 90%;
}

.map path{
  cursor: pointer;
}

.map-blue path {
  fill: $blue;
}

.map-orange path {
  fill: $orange;
}

.map path:active, .map path:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.map path {
  transition: .3s opacity;
}

.map path:hover,
.map .clicked {
  opacity: .6;
}

.heading-with-icon {
  position: relative;
}

.heading-with-icon .icon-heading {
  position: absolute;
  left: -4em;
}

.section {
  margin: 2em 0;
  border-radius: $border-radius;
  border-collapse: separate;
  position: relative;
}

.col .section:first-of-type {
  margin-top: 0;
}

.col .section:last-of-type {
  margin-bottom: 0;
}

.section .heading-with-icons  h2 {
  font-size: $font-size-heading-sections;
  margin: 1em 0;
}

.section .heading-with-icons {

  padding: 0 1em;
}

.section-heading {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.section-content {
  //padding: .5em calc(1em + 15px) 2em;
  padding: .5em 30px 2em;

  //border: 1px solid $grey;
  background-color: #fff;
}

.section-content p:first-of-type {
  margin-top: 0;
}

.section .section-content .content-wrapper:first-child {margin-top: 0}

.section.highlighted .section-content {
  background-color: transparent;
}

.main-header button {
  color: $heading-black;
}

.filtered-objects {
  padding: 0.5rem 0.7rem;
}

.section-content .row {
  padding-top: 2em;
}

//.section.new-published {
//  padding: 1em 0;
//}

//.new-published-heading {
//  padding: 0 2em;
//}

.highlighted {
  background-color: #F6F6F6;
  border-radius: $border-radius;
}

.icon {
  padding-right: .5em;
}

.new-published-content {
  background-color: $green;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 1em;
  //padding: 0 2em;
}

.new-published-content .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.objekty-heading {
  padding: 0.7em 1.5em 1em;
  border-radius: $border-radius;
}

.objekty-heading .icon-heading {
  font-size: 2em;
  padding-left: 0;
}

.objekty-heading p {
  margin-left: 4em;
  margin-bottom: .5em;
  margin-top: .5em;
}

.breadcrumb {
  display: block;
  padding: 1em 0;
  color: #666666;
  //font-size: .8em;
}

.objekty {
  margin-top: 2em;
  margin-bottom: 2em;
}

.plan-table {
  border-collapse: collapse;
  border-radius: $border-radius;
  width: 100%;
}

.plan-table thead th{
  text-align: center;
  font-weight: 600;

}

.plan-table thead th:first-of-type {
  text-align: left;
  font-size: 26px;
}

.plan-table td,
.plan-table th{
  padding: 1rem 1.8rem;
}

.plan-table,
.plan-table tbody tr{
  border: 1px solid #CACACA;
}


.plan-table th {
  text-align: left;
}

.plan-table tbody th {
  font-weight: 300;
}

.plan-table td {
  text-align: center;
}

.plan-table tbody tr td:first-of-type,
.plan-table tfoot tr td:nth-of-type(2){
  background-color: rgba(#C4C4C4, 0.1);
}

.plan-table tbody tr td:nth-of-type(2),
.plan-table tfoot tr td:nth-of-type(3){
  background-color: rgba($blue, 0.1);
}

.plan-table tbody tr td:nth-of-type(3),
.plan-table tfoot tr td:nth-of-type(4){
  background-color: rgba($red, 0.1);
}

.plan-table tbody tr td:nth-of-type(4),
.plan-table tfoot tr td:nth-of-type(5) {
  background-color: rgba($green, 0.1);
}

.plan-table td,
.plan-table tbody th{
  font-family: $font-family-open-sans;
}

.table-wrapper {
  border-radius: $border-radius;
  overflow: hidden;
}

.data-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}

.category-item {
  padding: .5em 0;
  position: relative;
}

.category-item .selected {
  font-weight: bold;
}

.category-item .selected:hover ~ .category-item{
  color: $danger;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.category-item .cancel-filter {
  visibility: hidden;
}

.category-item .selected ~ .cancel-filter {
  visibility: visible;
  font-size: .8em;
}

.cancel-filter-icon {
  transform: rotate(45deg);
}

.category-item:after {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  background-color: #C0C0C0;
  bottom: 0;
  width: 100%;
}

.category-item:last-of-type:after {
  display: none;
}

.mapbox {
  border-radius: $border-radius;
}

.dropzone {
  border-radius: $border-radius;
  color: #8F8F8F;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

.dropzone .btn-small-logo {
  margin: 2em auto;
}

.collapsed {
  display: none;
}

.objednat-objekt-info .section > .bg-grey h2:hover {
  color: $blue;
}

.objednat-objekt-info .location-options {
  position: absolute;
  left: 2em;
  background-color: #fff;
  z-index: 100;
  right: 2em;

}

.location-options-item {
  padding: .5em 1em;
}

.location-options-item:hover {
  background-color: $blue;
  color: #fff;
  cursor: pointer;
}

.objednat-objekt-info .location-options-item h3 {
  margin-top: 0;
}

.user-objekty-row > .col:first-of-type > .section {
  margin-top: 0;
}

.operating-hours-timetable {
  list-style: none;
  padding: 0;
  margin: 0;
}

.uploading-objekt {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.uploading-objekt .content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.border-section {
  border: 2px solid $grey;
  border-radius: $border-radius;
}

.border-section .section-content {
  border: none;
  //padding: 0 2em 2em;
}

.objekt-mini-heading {
  text-decoration: underline;
  font-weight: 600;
}

.objekt-mini-image {
  max-width: 100%;
  font-size: $font-size-heading-articles;
  border-radius: $border-radius;
}

.objekt-mini svg {
  margin-right: .2em;
}

.contact .content a {
  color: $blue;
}

//.image-actions {
//  padding: ;
//}

.objekt-detail .highlight-card {
  padding: 2em;
}

.highlight-card .stars {
  margin-left: .5em;
}

.sitemap {
  max-width: 1220px;
  margin: 0 auto;
  padding: 2em 30px;
}

.sitemap h3 {
  font-weight: 600;
  margin: 0 0 0 .5em;
}

.sitemap ul {
  list-style: none;
  padding-left: 0;
}

.sitemap ul li {
  margin-bottom: .8em;
}

.sitemap-header {
  margin-bottom: 2em;
}

.sitemap .content-wrapper {
  padding: 0 15px;
}

.post-thumbnail-wrapper {
  width: 100%;
  padding-bottom: 56.25%;
  border-radius: 4px;
  background-size: cover;
  position: relative;
}

.post-thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius;
}

.post-heading {
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: .5em;
}

.post-description,
.post-detail .content-wrapper {
  color: $text-black;
}

.post-detail .post-detail-image {
  border-radius: $border-radius;
}

.post-detail .content-wrapper {
  margin-top: 1em;
}

.post-detail .content-wrapper h2,
.post-detail .content-wrapper h3 {
  font-size: 20px;
}

.post-detail .content-wrapper h3 {
  margin-bottom: .7rem;
}

.post-detail .content-wrapper p {
  margin: 0;
}

.post-detail .date {
  font-size: 12px;
  color: #444444;
}

.post-detail .heading-with-icons h2 {
  margin-bottom: .3em;
}

.post-detail .heading-with-icons {
  margin-bottom: 1.5em;
}

.heading-icon-big.size-large {
  font-size: 7em;
}

.heading-icon-big.size-medium {
  font-size: 4em;
}

.heading-icon-big.size-small {
  font-size: 2em;
}

.rady-tipy-homepage .section-content {
  padding: 0;
}

.rady-tipy-homepage .section-content .category {
  padding: 0 1em;
}

.rady-tipy-homepage .section-content .category-heading {
  font-size: 24px;
  font-weight: 600;
}

.react-datepicker-popper {
  z-index: 1000 !important;
}

.aktuality-slider {
  width: 100%;
  overflow: scroll;
  padding: 1em;
  box-sizing: border-box;
  background-color: #E8E8E8;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.aktuality-slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.aktuality-slider {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slider-item {
  width: 35%;
  flex-basis: 35%;
  margin-right: 1em;
  height: 15vh;
}

.slider-item .image-wrapper {
  height: 100%;
}


.slider-item .image-wrapper img {
  border-radius: $border-radius;
}

.custom-date-picker .custom-options {
  overflow: visible;
}

.webcam-detail-image-wrapper a{
  flex: 1;
}

.webcam-detail-image-wrapper a:first-of-type{
  margin-right: .5em;
}

.webcam-detail-image-wrapper a:last-of-type {
  margin-left: .5em;
}

.webcam-detail-image-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius;
}

.webcam-detail h2:first-of-type {
  font-weight: 600;
  text-decoration: underline;
}

.info-text {
  font-style: italic;
  font-size: 12px;
}

.side-cards {
  order: 2;
}

.side-cards h3,
.last-minute-small h3 {
  font-weight: 600;
  margin: .5em 0;
}

.filter-badge {
  padding: .5em .8em;
  margin: 0 .5em;
  color: #fff;
  border-radius: 4px;
  font-size: .75em;
  //font-weight: 600;
  transition: .4s;
}

.filter-badge:hover {
  background-color: $danger;
  cursor: pointer;
}

.filter-badge:first-of-type {
  margin-left: 0;
}

.position-relative {
  position: relative;
}

.note {
  font-size: .7em;
  color: $dark-grey
}

.equipment-buttons .btn {
  height: 100%;
  white-space: nowrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.equipment-buttons::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.equipment-buttons {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


@import "MediaQueries";


