/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 640px) {
  $font-size-heading-sections: 22px;
  main {
    padding-top: 4rem;
  }

  .data-wrapper {
    margin-top: 0.5rem;
  }

  .section .heading-with-icons h2,
  .objekt-detail .highlight-card h1 {
    font-size: $font-size-heading-sections;
  }

  .homepage .section.rady-tipy-homepage .category {
    padding: 0;

    & .category-heading {
      font-size: 20px;
      margin: 0.5em 0;
    }

    & .btn-small-logo {
      display: none;
    }

    &.bg-grey {
      background-color: $white;
    }
  }

  .homepage .article-homepage-card {
    margin-bottom: 1em;

    &::after {
      bottom: -0.5em;
    }
  }

  .objekt-detail-heading .d-flex.icon {
    align-items: flex-start;
  }

  .section-content {
    padding: 0.5em 1em 2em;
    background-color: #fff;
  }

  h2 {
    font-size: 20px;
  }

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .cestuj-logo-wrapper {
    justify-content: flex-start;
  }

  .mobile-buttons {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-buttons button.btn-small-logo {
    margin: 0 0 1em;
  }

  .article-homepage-card .img-wrapper {
    margin-right: 0;
    flex-basis: 100%;
    width: 100%;
    height: 22vh;
  }

  .hero {
    height: auto;
    background-color: unset;
    background-image: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
    padding-top: 1em;

    & .wrapper {
      width: 100%;
      box-sizing: border-box;

      & .d-flex {
        box-sizing: border-box;
        height: auto;

        & p.description {
          font-size: 14px;
        }
      }

      & > .d-flex {
        flex-direction: column;

        & > .content {
          padding-right: 0;

          & .search-bar {
            width: 100%;
            margin: 1rem 0;
          }

          & h1 {
            font-size: 30px;

            & .underline::before {
              height: 3px;
            }
          }
          & p {
            font-size: 18px;
            width: 100%;
          }
        }

        & .image-wrapper {
          & img {
            width: 100%;
          }

          &::after {
            display: none;
          }

          & .overlay {
            display: none;
          }
        }
      }

      & .description-wrapper {
        box-sizing: border-box;
        justify-content: space-between;
        margin-top: 1rem;

        & p.description {
          width: auto;
          flex-basis: 85%;
          line-height: 20px;
        }

        & .icon-heading {
          font-size: 2rem;
          padding: 5px 0 0;
        }
      }
    }

    &::after {
      display: none;
    }

    & .description {
      position: relative;

      //&::after {
      //  content: "";
      //  position: absolute;
      //  bottom: -2.3em;
      //  height: 1px;
      //  width: 100%;
      //  background-color: grey;
      //  left: 0;
      //}
    }

    & .icons {
      color: $text-black;
      align-items: stretch;
      height: 100%;
      justify-content: end;

      & .icon-wrapper {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: $background-grey;
        display: flex;
        justify-content: center;
      }
    }
  }

  //.map-component {
  //  padding: 0;
  //  background: none;
  //}

  .map-component {
    & .map {
      margin-top: 2em;
    }

    & .margin-wrapper {
      margin-left: 0;
    }

    & .map-buttons button {
      flex: 1 1 auto;
    }

    & .row {
      margin: 0;

      & > .d-flex {
        padding: 0 !important;
      }
    }

    & .badge-location {
      right: auto;
      transform: translateX(-50%);
      left: 50%;
    }

    & .map-filters {
      & .custom-select {
        margin: 0.5rem 0;
      }

      & .btn {
        width: 100%;
      }

      & .col {
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }

  .mapbox {
    width: 100%;
  }

  .main-header {
    margin-bottom: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
  }

  .header-wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5em;
    width: 100%;
    height: 1px;
    background-color: $highlight-grey;
  }

  .main-header.sticky {
    //padding-bottom: 1em;
  }

  .article-card.d-flex {
    display: block;
  }

  .article-card .w-100 > div {
    padding-right: 0;
    padding-left: 0;
  }

  .article-card .img-wrapper {
    height: 20vh;
    margin-bottom: 1em;
  }

  .homepage .article-card .img-wrapper {
    width: 100%;
  }

  .border-section .section-header h2 {
    margin-bottom: 0;
  }

  .border-section .section-content {
    padding: 0 15px 15px;
  }

  .section .heading-with-icons,
  .rady-tipy-homepage .section-content .category,
  .homepage .section-content {
    padding: 0 0 0.5em;
  }

  .article-card .content-wrapper {
    margin-left: 0;
  }

  .post {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .header-wrapper {
    padding: 0 1em;
    position: relative;
  }

  .header-wrapper .btn.ghost {
    padding: 0;
    font-size: 20px;
  }

  .header-wrapper .btn.ghost {
    margin-left: 1em;
  }

  .map-component .map-filters {
    margin-top: 1em !important;
    margin-left: 0 !important;
  }

  .custom-select-wrapper {
    margin: 0.5em 0;
  }

  .objekt-detail .highlight-card {
    padding: 1.5em;
  }

  .highlight-card .objekt-detail-images {
    display: block;
    height: 25vh;
  }

  .highlight-card .objekt-detail-images .objekt-detail-image {
    width: 100%;
    height: 100%;
  }

  .highlight-card .objekt-detail-image.img-00 .overlay .content-wrapper {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
  }

  .highlight-card .objekt-detail-image.img-00 .overlay {
    background: linear-gradient(
      359.24deg,
      rgba(0, 0, 0, 0.53) 0.61%,
      rgba(255, 255, 255, 0) 46.5%
    );
  }

  .highlight-card .objekt-detail-description {
    max-width: 100%;
  }

  .objekt-detail .highlight-card .buttons.d-flex {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .objekt-detail .highlight-card .buttons.d-flex button {
    //margin: 0 10px 1em 0;
    margin-bottom: 1em;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  //.objekt-detail-services {
  //  padding-left: 15px !important;
  //}

  .objekty-heading p {
    margin-left: 0;
  }

  .objekty-heading {
    padding: 1em;
  }

  .admin-objekt .section-content {
    font-size: 14px;
  }

  .admin-objekt .buttons {
    display: block;
  }

  .admin-objekt .buttons button {
    margin-bottom: 0.5em;
  }

  .footer .d-flex {
    flex-direction: column;
  }

  .footer .search-bar .d-flex {
    flex-direction: row;

    & .btn {
      font-size: 14px;
    }
  }

  .sidebar {
    order: 1;
  }

  .sitemap {
    padding: 1em;
    overflow: hidden;

    & .sitemap-header .image-wrapper {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: -4em;
        right: -4em;
        height: 1px;
        background-color: $highlight-grey;
      }
    }
  }

  .post-detail {
    & .add-to-favorite {
      font-weight: normal;
      color: #444;
      font-size: 12px;
      font-family: $font-family-open-sans;
    }

    & .heading-with-icons {
      margin-bottom: 0.5em;
    }
  }

  .filter-wrappper {
    padding: 0.5em 15px;

    & .btn {
      padding-left: 0;

      & svg {
        margin-left: 0;
      }
    }

    & .filter-card {
      margin-top: 0.5em;
    }
  }
}

/* Smartphones and Tablets ----------- */
@media (max-width: 1024px) {
  /* Styles */
  .nav-container.hide-nav {
    right: -100%;
    left: 100%;
  }

  .btn {
    font-size: 16px;
  }

  .homepage .article-card {
    display: block !important;
  }

  .nav-container {
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
    //margin-top: 0;
    transition: all 0.5s;
    z-index: 100;
    left: 0;
    display: flex;
    flex-direction: column;

    & .main-container {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .nav-container .buttons {
    flex: 1 1 auto;
  }

  .main-nav {
    padding-top: 0;
    margin: 0;
    flex: 2 0 auto;
    align-items: center;
    display: flex;
  }

  .main-nav ul {
    flex-direction: column;
    box-sizing: border-box;
    height: 60vh;
  }

  .main-nav .nav-item {
    position: relative;
  }

  .main-nav .nav-item a:focus .nav-container {
    display: none;
  }

  .main-nav .nav-item a {
    margin-left: 1em;
  }

  .main-nav .nav-item .link-icon {
    font-size: 1.7em;
  }

  .nav-container .buttons {
    //margin: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & .links {
      position: relative;
      margin: 0 5.5%;

      //&::before {
      //  top: -1em;
      //  width: 96%;
      //}
    }

    & .actions .btn {
      border: 1px solid $grey;
      padding: 0.7rem 1rem;
      font-family: $font-family-open-sans;
      font-weight: 600;
      //font-weight: normal;
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  .main-nav .nav-item::after,
  .nav-container .buttons .links::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $grey;
  }

  .main-nav .nav-item::after {
    bottom: 0;
    width: 90%;
  }

  .homepage .article-homepage-card {
    padding: 1em 0;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

@media only screen and (max-width: 1220px) {
  .main-nav,
  .nav-container .buttons {
    margin: 0 1rem;
  }
  .hero .wrapper {
    z-index: 100;
    color: #fff;
    height: 100%;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (orientation: portrait) {
  /* Styles */
  .inquiry-card {
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .map-filter .col {
    padding-left: 0;
  }

  .ubytovani .col-pl-0 {
    padding-left: 0;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
