$light-blue-2: #3ab4e9;
$blue: #0994d0;
$blue-tint: #0776a6;
$blue-darken: #0b87bd;
$light-blue: #e5f1f6;
$green: #9fbf04;
$pink: #da05b5;
$pink-faded: #bf6bc6;
$purple: #a053a7;
$light-purple: #f3ecf2;
$purple-darken: #86438c;
$dark-purple: #64349f;
$dark-purple-darken: #4c257d;
$orange: #f48735;
$orange-darken: #ff6d00;
$light-orange: #faf0e9;
$red: #f44141;
$red-darken: #de3a3a;
$yellow: #c9b906;
$yellow-darken: #c1b202;
$light-yellow: #d5c40512;
$white: #fff;
$grey: #f8f8f8;
$highlight-grey: #e8e8e8;
$background-grey: #efefef;
$dark-grey: #8f8f8f;
$danger: #e74c3c;
$text-black: #292929;
$heading-black: #3d3d3d;

$font-size-heading-sections: 26px;
$font-size-heading-articles: 20px;
$font-size-description: 16px;

$font-family-montserrat: "Open Sans", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;

$border-radius: 4px;
$font-size: 16px;
