$light-blue-2: #3AB4E9;
$blue: #0994d0;
$blue-tint: #0776a6;
$blue-darken: #0B87BD;
$light-blue: #e5f1f6;
$green: #9FBF04;
$pink: #DA05B5;
$pink-faded: #BF6BC6;
$purple: #A053A7;
$light-purple: #f3ecf2;
$purple-darken: #86438C;
$dark-purple: #64349F;
$dark-purple-darken: #4C257D;
$orange: #F48735;
$orange-darken: #ff6d00;
$light-orange: #faf0e9;
$red: #F44141;
$red-darken: #DE3A3A;
$yellow: #C9B906;
$yellow-darken: #C1B202;
$light-yellow: #D5C40512;
$white: #fff;
$grey: #F8F8F8;
$dark-grey: #8F8F8F;
$danger: #e74c3c;
$text-black: #464646;
$heading-black: #3d3d3d;

$font-size-heading-sections: 26px;
$font-size-heading-articles: 20px;
$font-size-description: 16px;

$font-family-montserrat: "Open Sans", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;

$border-radius: 4px;
$font-size: 16px;

